.fl_dropdown {
    padding: 40px;
    margin-bottom: 30px;
}
.fl_calendar {
    margin-right: 90px;
    padding-left: 40px;
    margin-bottom: 30px;
}
.f2_calendar {
    margin-right: 30px;
    padding-left: 9px;
    margin-bottom: 30px;
}
.fl_input_row {
   padding: 10px;
}
.fl_input_row_0 {
    padding-left: 50px;
}
.fl_input_button_row {
    padding-left: 4.3%;
    padding-top: 3%;
    margin-right:10px;
}
.fl_input_button {
    margin-right: 8px;
}