<p>pipe-test works!</p>
<h2>{{name | lowercase}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | titlecase}}</h2>
<h2>{{name | slice:2}}</h2>
<h2>{{name | slice:2:4}}</h2>
<h3>{{person | json}}</h3>
<h3>{{5.678 | number:'1.2-3'}}</h3>
<h3>{{5.678 | number:'3.4-5'}}</h3>
<h3>{{5.678 | number:'3.1-2'}}</h3>
<h3>{{0.25 | percent}}</h3>
<h3>{{0.28 | currency}}</h3>
<h3>{{0.28 | currency:'GBP'}}</h3>
<h3>{{0.28 | currency:'EUR':'code'}}</h3>
<h3>{{myDate}}</h3>
<h3>{{myDate | date:'short'}}</h3>
<h3>{{myDate | date:'shortDate'}}</h3>
<h3>{{myDate | date:'shortTime'}}</h3>
<h3>{{myDate | date:'long'}}</h3>
<h3>{{myDate | date:'longDate'}}</h3>
<h3>{{myDate | date:'longTime'}}</h3>
<h3>{{myDate | date:'medium'}}</h3>
<h3>{{myDate | date:'mdediumDate'}}</h3>
<h3>{{myDate | date:'mediumTime'}}</h3>